{% extends "main/base.html" %}{# 継承するテンプレートを指定 #}
{% load static %}

{% block extra_style %}{# 上書きするブロック名（extra_style）を指定して、index.html 専用の CSS を追加 #}
<link rel="stylesheet" href="{% static 'main/css/index.css' %}">
{% endblock %}

{% block header %}<meta name="viewport" content="width=device-width, initial-scale=1.0">{% endblock %}{# index ページはヘッダー不要なので何も書かない #}

{% block content %}{# index ページの中身を記述 #}
<div class="pc">
    <img src="{% static 'main/images/vVhEt6LiT5UBrUb1672074832_1672074843.png' %}">
    <div class="buttons">   
        <h1>Chat app</h1>
        <a href="{% url 'login' %}" class="button">login</a>
        <a href="{% url 'signup' %}" class="button">sign up</a>
    </div>
</div>

<div class="sp">
    <img src="{% static 'main/images/vVhEt6LiT5UBrUb1672074832_1672074843.png' %}">
    <div class="buttons">   
        <h1>Chat app</h1>
        <a href="{% url 'login' %}" class="button">login</a>
        <a href="{% url 'signup' %}" class="button">sign up</a>
    </div>
</div>


{% endblock %}

{% block footer %}{% endblock %}{# index ページはフッター不要なので何も書かない #}