body{
    background-color: beige;
        margin: 0 auto;
        width: 100vh;
        height: 100vh;
        position: relative;
}
.buttons {
    /* position: absolute;　いる？ */
    /* top: 0;
    bottom: 0; */
    width: 80%;
    padding-bottom: 20px;
    height: max-content;
    text-align: center;
    background-color: white;
  outline: dashed 1px black;
  margin:auto;
  position: absolute;
  top:0;
  bottom:0;
  left:0;
  right:0;
}

.button {
    display: block;
    width: 120px;
    margin: 16px auto;
    padding: 8px 0;
    border: 1px solid ;
    border-radius: 10px;
    color:rgb(159, 66, 66);
    background-color: rgb(213, 213, 165);
}

a{
    background-color: rgb(213, 213, 165);
}

h1{
    text-align: center;
    
}

.button:hover{
    background-color: rgb(104, 104, 63);
}