body{
    background: linear-gradient(-135deg, #E4A972, #9941D8);
        margin: 0 auto;
        width: 100vw;
        height: 100vh;
        position: relative;
}
.buttons {
    /* position: absolute;　いる？ */
    /* top: 0;
    bottom: 0; */
    width: 80%;
    padding-bottom: 20px;
    height: max-content;
    text-align: center;
    background-color: white;
    border-radius: 30px;
  margin:auto;
  position: absolute;
  top:0;
  bottom:0;
  left:0;
  right:0;
  box-shadow: 4px 4px;
}

.button {
    display: block;
    width: 120px;
    margin: 16px auto;
    padding: 8px 0;
    border: 1px solid ;
    border-radius: 10px;
    color:rgb(232, 222, 222);
    background-color:rgb(87, 145, 161);
}


h1{
    text-align: center;
    
}

.button:hover{
    background-color: rgb(56, 91, 101);
}

img{
    text-align: center;
    width: 50%;
    height: 50%;
    /* padding-bottom: 50%; */
    position: absolute;
    top:-30px;
    /* bottom:0; */
    left:0;
    right:0;
    margin:auto;
    animation: fluffy1 2s ease infinite; 
    object-fit: contain;
}

@keyframes fluffy1 {
    0% {
      transform: translateY(0); }
    5% {
      transform: translateY(0); }
    10% {
      transform: translateY(0); }
    20% {
      transform: translateY(-10px); }
    25% {
      transform: translateY(0); }
    30% {
      transform: translateY(-10px); }
    50% {
      transform: translateY(0); }
    100% {
      transform: translateY(0); } }

.pc { display:block; }
.sp { display:none; }

@media only screen and (max-width : 767px){
  .pc { display:none; }
  .sp { display:block; }
  img{
    width: 90%;
  }
}